body{
    background: url(images/stars.jpg);
    color: white;
  }

div .pair {
  display: flex;
  flex-direction: row;
}

div .info {
  width: 10rem;
  text-align: justify;
  padding-left: 1rem;
}

#content {
  display:inline-block;
  text-align:center;
}

div .data {
  padding-bottom: 2rem;
}